:root {
  --background: #1d1d1f;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  background: linear-gradient(0deg, rgba(29,29,31, 1) 0%, rgba(0, 0, 0, 1) 100%);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
	border: 1px solid lightgrey;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
	flex-grow: 1;
	max-width: 1440px;
	margin: 0 auto;
}

.center-content {
	display: flex;
	align-items: center;
}
